<div class="h-100 d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-center" id="not-found__title">
    Você caiu no vazio do espaço!
  </h1>
  <img
    id="not-found__img"
    src="../../../assets/404.jpg"
    alt="astronaut in space"
  />
  <p class="text-center">
    Parece que estamos tendo problemas em manter as coisas funcionando.
    <span role="button" class="text-primary" routerLink="/home"
      >Clique aqui</span
    >
    para que possamos te resgatar.
  </p>
</div>
